<section id="initiative">
	<h3>Initiative</h3>
	<ul id="initiative-list" class="list-unstyled">
		<a href="#">
			<li class="initiative-entry">
				<b>Player Slot</b> <span class="pull-right"><span class="eotesymbols">s</span> 4
			</li>
		</a>
	</ul>
	<div id="init-footer">
		<div id="init-round" class="form-inline">
			<b>Round</b> 1</div>
		<div id="init-controls">
			<a id="init-back" href="#" class="btn btn-primary" type="button">Back</a>
			<a id="init-reset" href="#" class="btn btn-default" type="button">Reset</a>
			<a id="init-next" href="#" class="btn btn-primary" type="button">Next</a>
		</div>
	</div>
</section>