<html>
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Star Wars RPG Game Manager</title>
		<!-- CSS files -->
		<link href="/static/css/style.css" rel="stylesheet">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- Javascript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    </head>
    <body>
	<div class="container-fluid">
	  <div class="row">
		<div class="col-md-3">
			{% include '/module/destiny_light.html' %}
		</div>
		<div class="col-md-6">
			<h1>Star Wars RPG Game Manager</h1>
		</div>
		<div class="col-md-3">
			{% include '/module/destiny_dark.html' %}
		</div>
	  </div>
	<div class="row">
	  <div class="col-md-5 col-lg-4">
		{% include '/module/initiative.html' %}
		<section id="dice-pool">
		  <h3 style="margin-bottom: 15px;">Choose your Dice</h3>
		  <form id="dice-select" class="form-horizontal" action="" method="post" name="roll">
            {{ form.hidden_tag() }}
			<div id="form-player" class="form-group">
				<label class="col-md-4 control-label">Player</label>
				<div class="col-md-8">{{ form.player( class_="form-control" ) }}<br></div>
			</div>
			<div class="row">
			  <div class="col-md-6">
				<div id="form-boost" class="form-group">
					<label class="col-md-8 control-label">Boost <span class="eotesymbols die-boost">b</span></label>
					<div class="col-md-4">{{ form.boost( class_="form-control dice-input" ) }}</div>
				</div>
				<div id="form-ability" class="form-group">
					<label class="col-md-8 control-label">Ability <span class="eotesymbols die-ability">d</span></label>
					<div class="col-md-4">{{ form.ability( class_="form-control dice-input" ) }}</div>
				</div>
				<div id="form-prof" class="form-group">
					<label class="col-md-8 control-label">Proficiency <span class="eotesymbols die-proficiency">c</span></label>
					<div class="col-md-4">{{ form.prof( class_="form-control dice-input" ) }}</div>
				</div>
				<div id="form-force" class="form-group">
					<label class="col-md-8 control-label">Force <span class="eotesymbols die-force">c</span></label>
					<div class="col-md-4">{{ form.force( class_="form-control dice-input" ) }}</div>
				</div>
			</div>
			  <div class="col-md-6">
				<div id="form-setback" class="form-group">
					<label class="col-md-8 control-label">Setback <span class="eotesymbols die-setback">b</span></label>
					<div class="col-md-4">{{ form.setback( class_="form-control dice-input" ) }}</div>
				</div>
				<div id="form-difficulty" class="form-group">
					<label class="col-md-8 control-label">Difficulty <span class="eotesymbols die-difficulty">d</span></label>
					<div class="col-md-4">{{ form.difficulty( class_="form-control dice-input" ) }}</div>
				</div>
				<div id="form-challenge" class="form-group">
					<label class="col-md-8 control-label">Challenge <span class="eotesymbols die-challenge">c</span></label>
					<div class="col-md-4">{{ form.challenge( class_="form-control dice-input" ) }}</div>
				</div>
				<div id="form-percentile" class="form-group">
					<label class="col-md-8 control-label">Percentile %</label>
					<div class="col-md-4">{{ form.percentile( class_="form-control dice-input" ) }}</div>
				</div>
			</div>
			  <div class="col-md-12">
				<div class="form-group">
					<div class="col-md-12 text-right">
						<a id="reset-dice" href="#" class="btn btn-default btn-lg" type="button">Reset</a>
						<input class="btn btn-success btn-lg" type="submit" value="Roll Dice!"/>
					</div>
				</div>
			</div>
			</div>
        </form>
		</section>
	  </div>
	  
	  <div class="col-md-7 col-lg-8">
		<section id="roll-history"><div id='placeholder'></div></section>
	  </div>
	</div></div>
	
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
    </body>
</html>