<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Star Wars Dice Roller Page</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container"><div class="row"><div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-2">
          {% if result %}
          <p> Your roll was: {{ result }} </p>
          <p>
          {% for r in result %}
          <img src='/static/swdice/{{ r }}.png'/>
          {% endfor %}
          </p>
          {% endif %}
          <h3>Choose your dice</h3>
      </div></div>
      <div class="row"><div class="col-md-12">
          <form id="dice-select" class="form-horizontal" action="" method="post" name="roll">
            {{ form.hidden_tag() }}
            <div id="form-player" class="form-group">
              <label class="col-xs-4 col-sm-3 col-md-4 control-label">Player</label>
              <div class="col-xs-8 col-sm-6 col-md-4">
                {{ form.player( class_="form-control" ) }}
                <br>
              </div>
            </div>
            <div class="row"><div class="col-xs-6 col-md-4 col-md-offset-2">
                <div id="form-boost" class="form-group">
                  <label class="col-sm-6 control-label">Boost</label>
                  <div class="col-sm-4 col-md-3">
                    {{ form.boost( class_="form-control dice-input" ) }}
                  </div>
                </div>
                <div id="form-ability" class="form-group">
                  <label class="col-sm-6 control-label">Ability</label>
                  <div class="col-sm-4 col-md-3">
                    {{ form.ability( class_="form-control dice-input" ) }}
                  </div>
                </div>
                <div id="form-prof" class="form-group">
                  <label class="col-sm-6 control-label">Proficiency</label>
                  <div class="col-sm-4 col-md-3">
                    {{ form.prof( class_="form-control dice-input" ) }}
                  </div>
                </div>
                <div id="form-setback" class="form-group">
                  <label class="col-sm-6 control-label">Setback</label>
                  <div class="col-sm-4 col-md-3">
                    {{ form.setback( class_="form-control dice-input" ) }}
                  </div>
                </div>
                </div><div class="col-xs-6 col-md-4">
                <div id="form-difficulty" class="form-group">
                  <label class="col-sm-3 control-label">Difficulty</label>
                  <div class="col-sm-4 col-md-3">
                    {{ form.difficulty( class_="form-control dice-input" ) }}
                  </div>
                </div>
                <div id="form-challenge" class="form-group">
                  <label class="col-sm-3 control-label">Challenge</label>
                  <div class="col-sm-4 col-md-3">
                    {{ form.challenge( class_="form-control dice-input" ) }}
                  </div>
                </div>
                <div id="form-force" class="form-group">
                  <label class="col-sm-3 control-label">Force</label>
                  <div class="col-sm-4 col-md-3">
                    {{ form.force( class_="form-control dice-input" ) }}
                  </div>
                </div>
                <div id="form-percentile" class="form-group">
                  <label class="col-sm-3 control-label">Percentile</label>
                  <div class="col-sm-4 col-md-3">
                    {{ form.percentile( class_="form-control dice-input" ) }}
                  </div>
                </div>
            </div></div>
            <div class="form-group"><div class="col-sm-10 col-md-8" style="text-align: right;">
                <a id="destiny-point-dark" href="#" class="btn btn-default btn-lg" type="button">Use Destiny Point!</a>
                <a id="reset-dice" href="#" class="btn btn-default btn-lg" type="button">Reset</a>
                <input class="btn btn-success btn-lg" type="submit" value="Roll Dice!"/>
            </div></div>
          </form>
          <div id="form-destiny" class="form-inline">
              <label class="control-label">Dark Destiny Dice</label>
              <input class="form-control dice-input" id="dark" name="dark" type="text" value="">
              <label class="control-label">Light Destiny Dice</label>
              <input class="form-control dice-input" id="light" name="light" type="text" value="">
              <a id="set-destiny-dice" href="#" class="btn btn-default btn-lg" type="button">Set Destiny</a>
          </div>
    </div></div></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/roll.js"></script>
  </body>
</html>
