<html>
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Star Wars Dice Roller Monitor</title>
		<!-- CSS files -->
		<link href="/static/css/style.css" rel="stylesheet">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- Javascript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    </head>
    <body>
	<div class="container-fluid">
	  <div class="row">
		<div class="col-md-3">
			{% include '/module/destiny_light.html' %}
		</div>
		<div class="col-md-6">
			<h1>Star Wars RPG Game Manager</h1>
		</div>
		<div class="col-md-3">
			{% include '/module/destiny_dark.html' %}
		</div>
	  </div>
	<div class="row">
	  <div class="col-md-5 col-lg-4">
		{% include '/module/initiative.html' %}
	  </div>
	  
	  <div class="col-md-7 col-lg-8">
		<section id="roll-history"><div id='placeholder'></div></section>
	  </div>
	</div></div>
	
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
    </body>
</html>